<tr>
  <td>{{dateString date}}</td>
  <td>{{weight}}</td>
  <td>{{chest}}</td>
  <td>{{thigh}}</td>
  <td>{{upperArm}}</td>
  <td>{{waist}}</td>
  <td>{{hips}}</td>
  <td>
    {{#if_eq trend 1}}
      <i class="large arrow alternate circle down icon green"></i>
    {{/if_eq}}
    {{#if_eq trend -1}}
      <i class="large arrow alternate circle up icon red"></i>
    {{/if_eq}}
    {{#if_eq trend 0}}
      <i class="large arrow alternate circle right icon orange"></i>
    {{/if_eq}}
  </td>
  <td>{{comment}}</td>
  <td>
    <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </td>
</tr>