<div class="ui relaxed divided list">
  {{#each members}}
    <div class="item">
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a class="header" a href="/trainerassessment/{{id}}">{{firstName}} {{lastName}}</a>
        <a href="/trainerdashboard/deletemember/{{id}}">
          <i class="ui large red icon trash"></i>
        </a>
        <div class="description">
          {{numOfAssessments this}} assessments
        </div>
      </div>
    </div>
  {{/each}}
</div>