{{> menu id="settings"}}

<div class="ui two column grid middle aligned segment">
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/23eaa72d-b6e1-4ff2-8ec5-43e28a7d8872%2Fsport-and-fitness-icons.jpg?1532553981354">
  </div>
  <div class="column">
    <form class="ui stacked segment form" action="/settings/editmember" method="POST">
      <h3 class="ui header">
        Settings
      </h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input value= {{ member.firstName }} type="text" name="firstName">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input value= {{ member.lastName }} type="text" name="lastName">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          <input value= {{ member.email }} type="text" name="email">
        </div>
        <div class="field">
          <label>Gender</label>
          <div class="ui selection dropdown">
            <input value= {{ member.gender }} type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">
              Gender
            </div>
            <div class="menu">
              <div class="item" data-value="Male">
                Male
              </div>
              <div class="item" data-value="Female">
                Female
              </div>
            </div>
          </div>
          <script>
            $('.ui.dropdown').dropdown();
          </script>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <input value={{ member.password }} type="password" name="password">
      </div>
      <div class="field">
        <label>Address</label>
        <input value={{ member.address }} type="text" name="address">
      </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <input value={{ member.height }} type="number" name="height" step="0.01">
        </div>
        <div class="field">
          <label>Starting Weight</label>
          <input value={{ member.startingWeight }} type="number" name="startingWeight" step="0.01">
        </div>
      </div>
      <button class="ui blue submit button">
        Submit
      </button>
    </form>
  </div>
</div>